/* styles.css */
  #id1 {
    color: blue;
    font-size: 36px;
  }

  #id2 {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
  color: black;
  }

.class1 {
  background-color: lightpink;
  font-family: Verdana, DejaVu Sans, sans-serif;
  color: black;
}

.class3 {
  background-color: lightpink;
  font-family: Verdana, DejaVu Sans, sans-serif;
  color: black;
  font-size: 24px;

}
.class5 {
  background-color: lightpink;
  font-family: Verdana, DejaVu Sans, sans-serif;
  color: black;
}


/*.but1 {
background-color: black;
color: white;
}

.but2 {
background-color: yellow;
color:black
}*/

.proportioned {
  width: 300px;
  height:auto;
}

.distorted{
  width: 200px;
  height:400px;
}

.container .text {
background-color: yellow;
color: red;
font-size: 20px;
text-align: center;
}

.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.para {
  font-size: 22px;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div.text {
  color: green;
  font-size: 22px;
}


.small-para {
  font-size: 14px;
}


#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}



div .child {
  color: red;
  font-size: 14px;
}